<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.kit.kit_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_kit_pcrc_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Webview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PCRC_Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FacultyLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashDeveloper"
            android:label="Meat Developers" />
        <activity
            android:name=".RegistrationActivity"
            android:label="Student Registration" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".SDCActivity"
            android:label="Skill Development Cell" />
        <activity android:name=".Scholarship"
            android:label="Scholarship"/>
        <activity android:name=".IEEE"
            android:label="IEEE Sudent Chapter"/>

        <activity android:name=".PayFee"
            android:label="Pay Fee Online"/>

        <activity android:name=".Rank"
            android:label="Ranked No. 1"/>

        <activity android:name=".News"
            android:label="News and Events"/>
        <activity android:name=".TrainingPatners" />

        <activity android:name=".MeatFaulty"
            android:label="Meat Faculty"></activity>
    </application>

</manifest>